# .NET Core
*.swp
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
.vs/
bin/
obj/
_ReSharper*/
_TeamCity*
*.dotCover
*.dbmdl
*.jfm
nupkg/
artifacts/
project.lock.json
**/*.nuget.targets
**/*.nuget.props
*.nupkg
*.snupkg
.ionide/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/coverage
/build
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
